@charset "UTF-8";

$Mycolor : black; 
$Mycolor1 : white;
$Mypx : 5px;
$Mypx1 : 10px;
$Mypx2 : 2opx;



.mhm{
	width: 10px;
	margin-top: 20px;
	margin-left: 20px;
}
textarea{
	width: 286px;
	height: 60px;
	font-family: 'Roboto';
	border:0px solid black;
	outline: none;
}
input,select{
	border: 0px white solid;
	margin: 5px;
	padding: 10px;
	width: 80%;
	outline: none;
}
.confirm:hover{
	background-color: $Mycolor;
	color: $Mycolor1;
	cursor: pointer;
}
.confirm{
	width: 286.69px;
	margin-top: 30px;
	color: black;
	font-weight: bold;
	font-family: 'Roboto';
	font-size: 16px;
}

