$Mycolor : black; 
$Mycolor1 : white;



.mhm{
	margin-top: 20px;
    input, select{
        width: unset;
    }
}
textarea{
	width: 100%;
	height: 100px;
	font-family: 'Roboto';
	outline: none;
}
input,select{
	border: 0px white solid;
	margin: 5px 0;
	padding: 10px;
	width: 80%;
	outline: none;
}
.confirm:hover{
	background-color: #800;
	color: $Mycolor1;
	cursor: pointer;
}
.confirm{
	width: 13em;
	margin-top: 1em;
	color: #f3f3f3;
	font-weight: bold;
	font-size: 16px;
    background: rgba(255, 2, 0, 0.61);
}
form{
    margin-bottom: 2em;
}