@charset "UTF-8";
@import 'normalize';
@font-face {
    font-family: starWars;
    src: url(../font/Starjhol.ttf);
}
$baseColor: #2a2a2a;
$liturBox: red;

body{
    background: url("../myndir/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $baseColor;
    font-family: arial;
}
.haegri{
    display: flex;
    justify-content: flex-end;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    img{
        width: 52em;
    }
    h1{
        font-size: 5em;
        margin-top: 0;
        color: rgb(255, 181, 181);
        margin-top: -0.7em;
        text-shadow: 2px -6px #000;
        font-family: starWars;
    }
}
nav{
    display: flex;
    background: linear-gradient(to right, #000, rgba(212, 0, 0, 0.79), rgba(0, 0, 0, 0), rgba(212,0,0,0.79), #000);
    ul{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 70em;
        padding: 0;
        width: 100%;
        li{
            list-style-type: none;
            a{
                display: block;
                text-decoration: none;
                color: #c4c4c4;
                padding: 1.4em;
                font-size: 1.1em;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.35);
                }
            }
        }
    }
}
.haegri{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
h2{
    margin: 0;
    text-align: center;
    font-size: 1.6em;
    padding: 1em 0;
    border-bottom: 3px solid #000;
}
p{
    padding: 0 1em;
    line-height: 1.6em;
}
.container{
    display: flex;
    color:white;
    margin: 2em auto;
    max-width: 75em;
    justify-content: center;
}
@mixin box{
    background: $liturBox;
    margin: 0 0.5em;
    padding: 1em;
    background: rgba(255, 3, 0, 0.52);
}
.left{
    order: 1;
    width: 23%;
    height: 100%;
    @include box;
}
article{
    order: 2;
    width: 54%;
    @include box;
    background: rgba(33, 6, 5, 0.56);
    h2{
        border-bottom: 3px solid #ff8989;
    }
}
.box{
    border-bottom: red 2px solid;
    padding-bottom: 1em;
}
.box:not(:first-child){
    padding-top: 2em;
}
.right{
    order: 3;
    width: 23%;
    height: 100%;
    @include box;
}
footer{
    order: 4;
    @include box;
    color: white;
}
#banner{
    display: flex;
    flex-flow:column;
    border: 2px solid #000;
    background-color:rgba(0, 0, 0, 0.45);
    overflow: hidden;
    height: 28em;
    .rautt{
        height: 13em;
        width: 100%;
        top: 10px;
        left: 12px;
        position: relative;
        animation-name: rauttA;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes rauttA {
        from,to {}
        0%  {left:-250px; top:-90px;}
        30%,70%   {left:12px; top:10px;transform: rotate(360deg);}
        100%  {left:-250px; top:-90px;}
    }
    .blatt{
        height: 14em;
        width: 100%;
        top: -198px;
        left: 0;
        position: relative;
        animation-name: blattA;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes blattA {
        from,to {}
        0%  {left:250px; top:-160px;}
        30%,70%   {left:0px; top:-198px;transform: rotate(-360deg);}
        100%  {left:250px; top:-160px;}
    }
    .star{
        font-family: starWars;
        font-size: 4.2em;
        position: relative;
        margin: 0;
        top: -188px;
        left: 20px;
        color: #e60f05;
        line-height: 86px;
        animation-name: starA;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes starA {
        from,to {}
        0%      {top:0px;}
        30%,70% {top:-188px;}
        100%    {top:0px;}
    }
    .jedi{
        font-family: monospace;
        font-size: 1.6em; 
        position: relative;
        top: -300px;
        left: 8px;
        text-transform: uppercase;
        letter-spacing: 6px;
        animation-name: jediA;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes jediA {
        from,to {}
        0%     {top:-112px;}
        30%,70%{top:-300px;}
        100%   {top:-112px;}
    }
    .kaupa {
        position:  relative;
        top: -266px;
        left: 17px;
        color: #ffbdbd;
        animation-name: kaupaA;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes kaupaA {
        from,to {}
        0%     {top:-146px;}
        30%,70%{top:-266px;}
        100%   {top:-146px;}
    }
}

a:-webkit-any-link{
    text-decoration: none;
    color: #fff;
}