@charset "UTF-8";
@import 'normalize';
@font-face {
    font-family: starWars;
    src: url(../font/Starjhol.ttf);
}
$baseColor: #2a2a2a;
$liturBox: red;

body{
    background: url("../myndir/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $baseColor;
    font-family: arial;
}
.haegri{
    display: flex;
    justify-content: flex-end;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    img{
        width: 52em;
    }
    h1{
        font-size: 5em;
        margin-top: 0;
        color: rgb(255, 181, 181);
        margin-top: -0.7em;
        text-shadow: 2px -6px #000;
        font-family: starWars;
    }
}
nav{
    display: flex;
    background: linear-gradient(to right, #000, rgba(212, 0, 0, 0.79), rgba(0, 0, 0, 0), rgba(212,0,0,0.79), #000);
    ul{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 70em;
        padding: 0;
        width: 100%;
        li{
            list-style-type: none;
            a{
                display: block;
                text-decoration: none;
                color: #c4c4c4;
                padding: 1.4em;
                font-size: 1.1em;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.35);
                }
            }
        }
    }
}
.haegri{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
h2{
    margin: 0;
    text-align: center;
    font-size: 1.6em;
    padding: 1em 0;
    border-bottom: 3px solid #000;
}
p{
    padding: 0 1em;
    line-height: 1.6em;
}
.container{
    display: flex;
    color:white;
    margin: 2em auto;
    max-width: 75em;
    justify-content: center;
}
@mixin box{
    background: $liturBox;
    margin: 0 0.5em;
    padding: 1em;
    background: rgba(255, 3, 0, 0.52);
}
.left{
    order: 1;
    width: 23%;
    height: 100%;
    @include box;
}
article{
    order: 2;
    width: 54%;
    @include box;
    background: rgba(33, 6, 5, 0.56);
    h2{
        border-bottom: 3px solid #ff8989;
    }
}
.box{
    border-bottom: red 2px solid;
    padding-bottom: 1em;
}
.box:not(:first-child){
    padding-top: 2em;
}
.right{
    order: 3;
    width: 23%;
    height: 100%;
    @include box;
}
footer{
    order: 4;
    @include box;
    color: white;
}
#banner{
    display: flex;
    flex-flow:column;
    border: 2px solid #000;
    background-color:rgba(245, 103, 101, 0.52);
    height: 28em;
    .rautt{
        height: 11em;
        background: url("../myndir/lightsaber-rautt.png");
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: rauttS;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        top: 0;
        left: 0;
    }
    .blatt{
        height: 12em;
        background: url("../myndir/lightsaber-blatt.png");
        background-repeat: no-repeat;
        background-size: 12em;
        top: -10px;
        left: -10px;
    }
    .star{
        font-size: 2.5em;
    }
    .jedi{
        font-size: 1.3em;   
    }
}
@keyframes rauttS {
    0%   {left:0px; top:0px;}
    50%   {left:50px; top:0px;}
    100%   {left:0px; top:0px;}
}