@charset "UTF-8";
@import 'normalize',
        'animation',
        'tafla',
        'biohus',
        'hopurinn',
        'midar';
@font-face {
    font-family: starWars;
    src: url(../font/Starjhol.ttf);
}
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?b94u5r');
  src:  url('../font/icomoon.eot?b94u5r#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?b94u5r') format('truetype'),
    url('../font/icomoon.woff?b94u5r') format('woff'),
    url('../font/icomoon.svg?b94u5r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-right: .6em;
  color: black;
  font-size: 1.35em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-office:before {
  content: "\e903";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-users:before {
  content: "\e972";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.social{
    display:flex;
    font-size: 1.3em;
    a:hover{
        text-decoration: none;
        span{
            color: #d6d6d6;
        }
    }
}


$baseColor: #2a2a2a;
$liturBox: red;

*{
    box-sizing: border-box;
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.57) ), url(../myndir/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: $baseColor;
    font-family: arial;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    h1{
        font-size: 2.7em;
        margin-top: 0;
        color: rgb(255, 181, 181);
        margin-top: -0.7em;
        text-shadow: 2px -6px #000;
        font-family: starWars;
    }
}
nav{
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 100%;
    z-index: 999;
    ul{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        transition: all .5s cubic-bezier(0.4, 0, 1, 1);
        position: fixed;
        bottom: -22em;
        width: 100%;
        background: rgba(175, 0, 0, 0.87);
        z-index: 998;
        li{
            list-style-type: none;
            width: 100%;
            text-align: center;
        }
        a{
            display: block;
            text-decoration: none;
            color: #c4c4c4;
            padding: 1em;
            font-size: 1.1em;
            &:hover{
                background-color: rgba(0, 0, 0, 0.35);
            }
        }
        .active{
            background-color: rgba(0, 0, 0, 0.35);
        }
        .haegri{
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            width: 100%;
            text-align: center;
            flex-grow: 1;
        }
    }
    input{
        display: none
    }
    input:checked + label{
        background-color: rgb(206, 0, 0);
    }
    input:checked ~ ul{
        position: fixed;
        bottom: 58px;
    }
    label{
        text-align: center;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        color: #fff;
        padding: .7em 0;
        z-index: 999;
        font-size: 1.3em;
        font-weight: bold;
        border: 3px solid rgba(2, 0, 0, 0.47);
        background: rgba(175, 0, 0, 0.87);
    }
}
h2{
    margin: 0;
    text-align: center;
    font-size: 1.6em;
    padding: 1em 0;
    border-bottom: 3px solid #000;
}
p{
    line-height: 1.6em;
}
.container{
    display: flex;
    flex-flow: column;
    color:white;
    margin: 1em auto;
    margin-top: 0;
    width: 100%;
    justify-content: center;
}
@mixin box{
    background: $liturBox;
    margin: 0 0.5em;
    background: rgba(255, 3, 0, 0.52);
    box-sizing: border-box;
}
.left{
    order: 2;
    height: 100%;
    @include box;
    background:none;
}
.right{
    order: 3;
    height: 100%;
    background: none;
}
.boxR{
    @include box;
    margin: 0 0.1em;
    padding: 0 2em;
    margin-bottom: 1em;
    padding-bottom: 1.5em;
    p{
        margin: .4em 0;
    }
    table{
        margin-top: 1em;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    table, th, td {
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;    
    }
}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    img{
        height: 4em;
    }
}
.boxR.banner{
    padding: 0;
    height: 100%;
    padding-top: 0.1em;
}
article{
    order: 1;
    @include box;
    background: none;
    h2{
        border-bottom: 3px solid #ff8989;
    }
}
.box{
    border-bottom: red 2px solid;
    padding-bottom: 1em;
    background: rgba(33, 6, 5, 0.56);
    padding: 0 2em;
}
.box:not(:first-child){
    padding-top: 1em;
    margin-top: 1em;
}
footer{
    order: 4;
    @include box;
    color: white;
    margin: 0;
    padding: 1.4em 2em;
    padding-bottom: 3em;
    div{
        padding-bottom: 1em;
    }
    a:hover{
        text-decoration: underline;
    }
}
.adalleikarar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1.3em;
    .adal{
        width: 7em;
        text-align: center;
    }
    img{
        width: 7em;
    }
    h3{
        margin: 1em auto;
        width: 5em;
    }
}
.vinnstri{
    width: 100%;
}
.r2{
    .right{
        width: 100%;
        margin-top: 1em;
    }
}
@media screen and (min-width: 31em){ // 496px
    header{
        h1{
            font-size: 3.6em;
        }
    }
    .container{
        padding: 0 1em;
    }
    footer{
        padding-bottom: 4em;
    }
    .footerC{
        padding: 0 1em;
    }
}
@media screen and (min-width: 44em){ // 704px
    header{
        h1{
            font-size: 4.2em;
        }
    }
    .container{
        flex-flow: row wrap;
    }
    article{
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
    }
    .left{
        width: 45%;
        margin: 0;
    }
    .right{
        width: 55%;
        margin: 0;
    }
    .footerC{
        padding: 0 2em;
    }
}
@media screen and (min-width: 51em){ // 816px
    header{
        h1{
            font-size: 5.2em;
        }
    }
    .container{
        max-width: 50em;
    }
    .footerC{
        margin: 0 auto;
        padding: 0 3em;
        max-width: 50em;
        display: flex;
        align-content: center;
        .haegri{
            display: flex;
            flex-grow: 3;
            justify-content: flex-end;
        }
    }
} 
@media screen and (min-width: 74em){ // 1184px
    footer{
        padding-bottom: 0;
        height: 7em;
        display:flex;
        align-items: center;
        width: 100%;
        .footerC{
            width: 100%;
            max-width: 76em;
        }
    }
    header{
        h1{
            font-size: 5em;
        }
    }
    .container{
        max-width: 76em;
        flex-flow: row;
    }
    article{
        order: 2;
        width: 54%;
    }
    .left{
        order: 1;
        width: 23%;
        background: rgba(255,3,0,0.52);
        margin-right: 1em;
    }
    .right{
        order: 3;
        width: 23%;
        margin-left: 1em;
        img{
            width: 100%;
        }
    }
    .r2a{
        width: 77%;
    }
    .r2{
        .right{
            width: 23%;
            margin-top: 0;
        }
    }
    nav{
        background: linear-gradient(to right, #000, rgba(212, 0, 0, 0.79), rgba(0, 0, 0, 0), rgba(212,0,0,0.79), #000);
        position: relative;
        margin-bottom: 3em;
        height: 5em;
        label{
            display: none;
        }
        input:checked ~ ul{
            position: relative;
            bottom: unset;
        }
        ul{
            background: none;
            max-width: 74em;
            flex-flow: row;
            position: relative;
            bottom: unset;
            height: 100%;
            .vinnstri{
                display:flex;
                flex-grow: 3;
                width: 100%;
                height: 100%;
            }
            .haegri{
                flex-flow: row;
                height: 100%;
            }
            li{
                width: unset;
                height: 100%;
                a{
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
            }
        }
    }
}
